<div class="d-flex flex-row justify-content-center align-items-center" novalidate>
    <form
      class="needs-validation"
      [formGroup]="loginForm"
      (ngSubmit)="send()">
        <div class="form-group row">
          <label for="cnicField" class="col-sm-3 col-form-label">CNIC</label>
          <div class="col-sm-9">
            <input
              type="text"
              [ngClass]="{
                'form-control': true,
                'is-invalid': cnic.invalid && cnic.touched
              }"
              id="cnicField"
              autocomplete="off"
              formControlName="cnic"
              aria-describedby="cnic"
              placeholder="Enter CNIC number"
            >
            <div class="invalid-feedback" *ngIf="cnic.invalid" >
                CNIC must be in valid format.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="mobileField" class="col-sm-3 col-form-label">Mobile</label>
          <div class="col-sm-9">
            <input
              type="text"
              [ngClass]="{
                'form-control': true,
                'is-invalid': mobile.invalid && mobile.touched
              }"
              id="mobileField"
              autocomplete="off"
              formControlName="mobile"
              placeholder="Enter Mobile"
            >
            <div class="invalid-feedback" *ngIf="mobile.invalid" >
                Mobile no must be in valid format.
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </form>
  </div>
