html,body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
}
#main-container header h1{
  padding: 0;
  margin: 0.3rem 0;
}
#login-form{
  padding: 0.2rem;
  margin: 2rem 0;
}
#login-form form{
  width: 20rem;
}
